.menu {
  display: none;

  @media screen and (max-width: 900px) {
    display: flex;
  }
}

.headerContent {
  display: none;

  @media screen and (max-width: 900px) {
    display: flex;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.804);
    width: 100%;
    padding: 17px 28px;
    justify-content: space-between;
  }
}

.logo1 {
  display: none;

  @media screen and (max-width: 900px) {
    width: 70px;
    height: auto;
    display: flex;
  }
}

.logo2 {
  width: 100px;
  height: auto;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.header1 {
  display: flex;
  width: 100%;
  transition: 0.4s;

  @media screen and (max-width: 900px) {
    position: fixed;
    background-color: #7D84B2;
    height: 100vh;
    top: 0;
    left: 0%;
    width: 60%;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.header2 {
  display: flex;
  width: 100%;
  transition: 0.4s;

  @media screen and (max-width: 900px) {
    position: fixed;
    background-color: #7D84B2;
    height: 100vh;
    top: 0;
    left: -100%;
    width: 60%;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.contentHeader {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  padding: 18px 18px 18px 50px;
  background-color: rgba(18, 18, 18, 0.804);

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 30px;
    height: 40px;
    border-left: 1px solid #cecece;
    margin-left: 50px;
  }

  h2 {
    color: #fff;
    font-size: 15px;
    transition: 0.4s;
    margin-right: 32px;
    font-weight: 300;
    cursor: pointer;
  }

  h2:hover {
    scale: 1.05;
    color: #7e8ce8;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin: 0;
    background-color: transparent;
    align-items: flex-end;
    padding: 10px 18px 18px 50px;

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      height: max-content;
      border-left: none;
      margin-left: 0px;
    }

    h2 {
      color: #fff;
      font-size: 19px;
      margin-bottom: 22px;
    }
  }
}